@()(registerForm: Form[UserRegisterData])(loginForm: Form[UserFormData])(implicit messages: Messages, environment: play.api.Environment, l: Lang)



@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main(Messages("title")) {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
    @content(registerForm)(loginForm)

}
