@(user: model.User, groups: Seq[model.JsonGroup], events: Seq[model.JsonEvent], underlings: Seq[model.JsonUser])(implicit environment: play.api.Environment, messages: Messages)

<html>
    <head>
        <link href='@routes.Assets.versioned("stylesheets/fullcalendar.css")' rel="stylesheet">
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet'>
        <script src='@routes.Assets.versioned("javascripts/lib/moment.min.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/lib/jquery-3.0.0.min.js")'></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"   integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="   crossorigin="anonymous"></script>
        <script src='@routes.Assets.versioned("javascripts/lib/fullcalendar.min.js")'></script>
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>

        <script>

            var url = "http://83.227.87.14:9000";
            var userId = @user.id;
            var groupId = @user.groupId.get;

            $(document).ready(function() {

                /*var navbar = $("nav.navbar");

                navbar.css("background-color", "#000000");*/

                var clickableElements = $("ul#menu li");

                clickableElements.hover(function() {
                   $(this).css("text-decoration", "underline");
                }, function() {
                    $(this).css("text-decoration", "none");
                });

                clickableElements.click(function(e) {

                    e.preventDefault();

                    $.each(clickableElements, function(e) {
                       $(this).removeClass("active");
                    });

                    $(this).addClass("active");

                    var clicked = $(this).text();
                    console.log(clicked);
                    if (clicked == "Underlings") {
                        getUnderlings(function(data) {
                            var underlingsHtml = data.map(function(obj) {
                                return "<p>id: " + obj.id + ", username: " + obj.username + "</p>";
                            });

                            $("#content").html(underlingsHtml);
                        });
                    } else if (clicked == "Calendar") {
                        var emptyCal = "<div id='calendar'></div>";
                        $("#content").append(emptyCal);

                        getEvents(function(data) {
                            setupCalendar($("#calendar"), data);
                        });
                    } else if (clicked == "Administrator") {
                        console.log("y u do dis");
                    }


                });

                clickableElements.first().click();
                $("#newEventForm input[name='to']").keyup(function(event){
                    if(event.keyCode == 13){
                        $("#saveEventButton").click();
                    }
                });

                $("#addevent").click(function(e) {
                    $("#neweventmodal").modal('show');
                });

                $("button#saveEventButton").click(function(e) {

                    e.preventDefault();

                    var values = {};
                    $.each($('#newEventForm').serializeArray(), function(i, field) {
                        values[field.name] = field.value;
                    });

                    var sendFrom = values["fromDate"] + "T" + values["fromClock"];
                    var sendTo = values["toDate"] + "T" + values["toClock"];

                    addEventToCalendar($("#calendar"), values["title"], sendFrom, sendTo, false);

                    $("#neweventmodal").modal('hide');
                    $("#newEventForm")[0].reset();

                });


            });

            function getEvents(callback) {
                $.get( url + "/users/" + userId + "/events", function(data) {
                    callback(data);
                }).fail(function(error) {
                    console.log("horror: " + error);
                });
//                $.get(url + "/users/" + userId + "/events",  )
            }

            function getUnderlings(callback) {
                $.get( url + "/groups/" + groupId + "/users", function( data ) {
                    var underlings = data.filter(function(object) {
                        return object.admin == false;
                    });

                    callback(underlings);
                });
            }

        </script>

        @* if you want scalaJS
            @playscalajs.html.scripts("client")
        *@

        @* some color scheme
            c7d0d5, 93b1c6, f5f5f5, ff7148, ec583a
        *@
        <style>

            #calendar {
                max-width: 100em;
                margin: 0 25;
                vertical-align: top;
            }

            .fc-view-container { background-color: rgba(255,127,80,0.25)}

            body {
                background: url('@routes.Assets.versioned("images/cork-wallet.png")');
            }

            nav.navbar {
                background-color: #93b1c6;
                box-shadow: 0px 5px 5px #aaaaaa;
            }

            li.active {
                color: #ec583a;
            }




        </style>
    </head>

    <body>

        <style>
            #content {
                display: block;
            }

            #calendar {
            display: inline-block;
            }

            #addevent {

                font-size: 10em;
                /* position: absolute; */
                display: inline-block;
                /* margin-top: 5em; */
                cursor: pointer;
            }


        </style>

        @navbar.navbar("YHC3L Kalender", user.username)

        <div id="content">
            <div id="addevent">
                +
            </div>
            <div id="calendar">

            </div>
        </div>

        @modal.NewEventModal()
    </body>
</html>
